:host {
  padding: 20px;
  width: 100%;
  color: black;
  font-size: 14px;
}

.author {
  display: flex;
  flex-wrap: wrap;
  &__checkbox {
    margin-right: 15px;
  }
  &__input {
    border: 1px solid #c7d1d7;
    padding: 9px;
    width: 75%;
    outline: none;
  }
}

.sort-by {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 13px;
  &__label {
    margin-right: 10px;
  }
  &__select {
    width: 146px;
    padding: 0 5px;
    height: 38px;
    outline: none;
    border: 1px solid #dcdcdc;
    background-color: #f2f2f2;
  }
  &__option {
    font-size: 13px;
  }
}

.options {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 13px;
}
