<div class="author">
  <app-checkbox label="мои" class="author__checkbox"></app-checkbox>
  <input class="author__input" type="text" placeholder="Автор" />
</div>

<div class="sort-by">
  <p class="sort-by__label">Сортировка по:</p>
  <select class="sort-by__select">
    <option class="sort-by__option" value="date" selected>Дате</option>
    <option class="sort-by__option" value="">Популярности</option>
    <option class="sort-by__option" value="">Оценки</option>
  </select>
</div>

<div class="options">
  <app-checkbox label="я участние" style="margin-right: 15px;"></app-checkbox>
  <app-checkbox label="в заголовке" style="margin-right: 15px;"></app-checkbox>
  <app-checkbox
    label="строгий поиск"
    style="margin-right: 15px;"
  ></app-checkbox>
</div>
